//----------------подключение обнуляющего стиля-------------------//

@import "/css/nullstyle.css";

//----------------шаблоны-------------------//

%buttons{
   background: #575445;
   border-radius: 6px;
   font-size: 16px;
   line-height: 22.4px;
   color: #FFFFFF;
   padding: 11px 18.5px;
}
%image__icon{
   background: #575445;
   border-radius: 32px;
   margin:0 0 10px 0;
   padding: 18px;
}
%link_hover{
   font-weight: 800;
   font-size: 16px;
   text-decoration: underline;
   transition-duration: 0.5s;
}
%link-navi_hover{
   transition-duration: 0.5s;
   text-decoration: underline;
   color: #E6B939;
}

//----------------миксины-------------------//

@mixin text($f,$lh,$c){
   font-size: $f;
   line-height: $lh;
   color: $c;
}

//----------------wrapper and container--------------------//

.wrapper{
   min-height: 100%;
   overflow: hidden;
}
.container{
   max-width: 1232px;
   margin: 0 auto;
   padding: 0 16px;
}

//----------------header--------------------//

.header__body{
   display: flex;
   min-height: 79px;
   align-items: center;
   justify-content: space-between;
}
.menu__list{
   display: flex;
   flex-wrap: wrap;
}
.menu__item{
   margin: 0 28px 0 0 ;
   &:nth-child(4){
      margin: 0 34px 0 0 ;
   }
   &:nth-child(5){
      margin: 0 40px 0 0;
   }
   &:nth-child(6){
      margin: 0 20px 0 0;
   }
   &:nth-child(7){
      margin: 0;
   }
}
.menu__link{
   @include text(14px,14px ,#444444 );
   &:hover{
      @extend %link-navi_hover;
   }
}
.menu__button-buy{
   @extend %buttons;
   &:hover{
      @extend %link-navi_hover;
   }
}
.menu__button-cart{
   @extend %buttons;
   &:hover{
      @extend %link-navi_hover;
   }
   &::before{
      content:url(../img/header/icons/Vector.png);
      margin: 0 8px 0 0;
   }
   &::after{
      content:'0';
      margin: 0 0 0 8px;
      background: white;
      border-radius: 9px;
      padding: 3.5px 7px;
      @include text(11px,18px ,#444444);
   }
}

//----------------адаптив header--------------------//

@media (max-width:1280px){
   [class*="container"]{
      max-width: 1024px;
   }
}
@media (max-width:1024px){
   [class*="container"]{
      max-width: 960px;
   }
}
@media (max-width:960px){
   [class*="container"]{
      max-width: 720px;
   }
   .menu__item:nth-child(5){
      margin: 0 16px 0 0;
   }
   .menu__item:nth-child(6){
      padding: 30px 0 0 0;
   }
   .menu__item:nth-child(7){
      padding: 30px 0 0 0;
   }
   .menu__list{
      margin: 45px 0 0 50px;
   }
}
@media (max-width:720px){
   [class*="container"]{
      max-width: 480px;
      justify-content: center;
      align-items: flex-start;
   }
   .header__body{
      flex-direction: column;
   }
   .menu__list{
      justify-content: center;
   }
   .header__logo{
      align-self: center;
      margin: 30px 0 0 0;
   }
   .menu__link{
      font-size: 20px;
   }
   .menu__item:nth-child(4){
      padding: 30px 0 0 0;
   }
   .menu__item:nth-child(5){
      padding: 30px 0 0 0;
   }
}
@media (max-width:400px){
   [class*="container"]{
      max-width: 320px;
   }
   .menu__list{
      flex-direction: column;
      margin: 15px 0 0 90px;
   }
   .menu__item {
      padding: 30px 0 0 0;
   }
}

//----------------main--------------------//

.page{
   min-height: 640px;
}
.main-block{
   position: relative;
}
.main-block__body{
   position: relative;
   z-index: 2;
   padding: 219px 0 0 0;
   max-width: 600px;
}
.main-block__p{
   letter-spacing: 2px;
   text-transform:uppercase;
   @include text(14px,20px,#E6B939);
}
.main-block__title{
max-width: 416px;
font-style:'Roboto';
@include text(48px,58px,#FFFFFF);
}
.main-block__text{
   @include text(17px,25px,#CACCD1);
}
.main-block__image{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-align: center;
}

//----------------адаптив  main--------------------//

@media (max-width:1280px){
   .main-block__image{
      left: -120px;
   }
}
@media (max-width:1024px){
   .main-block__image{
      left: -300px;
   }
}
@media (max-width:960px){
   .main-block{
      margin: 30px 0 0 0;
   }
   .main-block__image{
      left: -450px;
   }
}
@media (max-width:720px){
   .main-block__image{
      left: -600px; 
      opacity: 0.6;
   }
   .main-block__p{
      color:#575445;
      font-weight: 900;
      padding: 0 0 40px 0;
      }
      .main-block__title{
         color:  #575445;;
         padding: 0 0 40px 0;
      }
      .main-block__text{
         color: #575445;;
      }
      .main-block__body{
         padding: 120px 0 0 0;
         text-align: center;
      }
}
@media (max-width:400px){
   .main-block__image{
      left: -850px;
   }
   .main-block__body{
      text-align: center;
   }
}

//----------------section--------------------//

.section__content{
   max-width: 1168px;
   display: flex;
   margin: 100px 0;
}
.section__block-text{
   align-self: center;
   max-width: 384px;
   margin: 0 0 0 104px;
}
.block-text__p{
   letter-spacing: 2px;
   text-transform:uppercase;
   @include text(14px,20px,#E6B939);
}
.block-text__title{
   font-style:'Roboto';
   @include text(36px,43px,#575445);
}
.block-text__text{
   @include text(16px,19px,rgba(87, 84, 69, 1));
}
.block-text__link{
   margin: 20px 0 0 0;
}
.link__more{
   @include text(15px,21px ,#575445 );
   &::after{
      content:url(../img/section/icon/Path-2.png);
      margin: 0 0 0 7px;
   }
   &:hover{
   @extend%link_hover;
}
}

//----------------адаптив section--------------------//

@media (max-width:960px){
   .section__content{
      flex-wrap: wrap-reverse;
   }
   .section__block-text{
      margin: 0 0 30px 0 ;
   }
}
@media (max-width:720px){
   .section__image{
margin: 0 0 0 -72px;
   }
}

//----------------sidebar--------------------//

.sidebar{
   min-height: 900px;
   background: #FAFAFC;
}
.sidebar__content{
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sidebar__block-text{
   max-width: 538px;
   text-align: center;
   margin: 99px 0 71px 0;
}
.sidebar__column{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.sidebar__column-item{
   max-width: 287px;
   margin: 0 104px 110px 0 ;
   text-align: center;
   &:nth-child(3){
      margin: 0 0 110px 0 ;
   }
   &:nth-child(6){
      margin: 0 0 110px 0 ;
}
}
.sidebar__image-icon{
   @extend %image__icon;
}
.sidebar__title{
   margin: 0 0 9px 0 ;
   @include text(20px,24px, #575445)
}
.sidebar__text{
   @include text(14px,20px,#575445);
   font-family: 'Poppins';
}

//----------------адаптив sidebar--------------------//

@media (max-width:1280px){
   .sidebar__column-item{
      margin: 0 0 110px 0 ;
   }
   .sidebar__column{
      justify-content: space-between;
 }
}
@media (max-width:720px){
   .sidebar__column{
      justify-content: center;
   }
 }

//----------------cat--------------------//

.cat{
   margin: 100px 120px;
   max-height: 100%;
   }
.cat__content{
   display: flex;
   flex-direction: column;
   align-items: center;
   }
   .cat__block-text{
   max-width: 538px;
   text-align: center;
   margin: 0 0 21px 0;
      }
.cat__cards{
   display: flex;
   flex-wrap: wrap;
   margin: 0 0 21px 0;
   justify-content: center;
   }
.cat__cards-item{
   margin: 8px;
   min-width: 369px;
   min-height: 473px;
   text-align: center;
      &:nth-child(1){
      background-image: url(../img/cat/image/IMAGE.jpg);
      background:cover,no-repeat;
      }
      &:nth-child(2){
         background-image: url(../img/cat/image/IMAGE-2.jpg);
         background:cover,no-repeat;
      }
      &:nth-child(3){
         background-image: url(../img/cat/image/IMAGE-3.jpg);
         background:cover,no-repeat;
      }
      &:nth-child(4){
         background-image: url(../img/cat/image/IMAGE-4.jpg);
         background:cover,no-repeat;
         }
      &:nth-child(5){
         background-image: url(../img/cat/image/IMAGE-5.jpg);
         background:cover,no-repeat;
         }
      &.cat__cards-item:nth-child(6){
         background-image: url(../img/cat/image/IMAGE-6.jpg);
         background:cover,no-repeat;
         }
      }
.cat__title{
   @include text(28px,34px,#575445);
   font-family: 'Roboto';
   margin: 39px 0 9px 0;
   }
.cat__text{
   @include text(16px,23px,#575445);
   margin: 0 0 20px 0 ;
   }
.cat__link-view{
   @include text(15px,21px,#575445);
      &::after{
         content:url(../img/cat/icons/Path-2.png);
         margin: 0 0 0 8px;
         }
      &:hover{
         @extend%link_hover;
         }
         }
.cat__link-show{
   @include text(15px,21px,#575445);
   margin: 0 0 20px 0 ;
      &::after{
      content:url(../img/cat/icons/Path-2.png);
      margin: 0 0 0 8px;
      }
      &:hover{
      @extend%link_hover;
      }
      }
       //----------------aдаптив cat--------------------//

@media (max-width:400px){
   .cat__block-text{
   display: none;
   }
   }

                //----------------navi--------------------//

            .navi{
               min-height: 600px;
            }        
            .navi__block{
               position: relative;
            }
            .navi__image{
               position: absolute;
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               text-align: center;
            }
            .navi__body{
               position: relative;
               z-index: 4;
               padding: 512px 0 0 640px;
            }
            .navi__list{
               max-width: 615px;
               display: flex;
               justify-content: space-around;
               background: #292C32;
               border-radius: 16px;
               padding: 15px 0 21px 0;
            }
            .navi__item{
               &:nth-child(1)::before{
                  content:url(../img/subsection/icons/􀋒.png);
                  margin: 0 8px 0 0 ;
                     }
               &:nth-child(2)::before{
               content:url(../img/subsection/icons/􀍪.png);
               margin: 0 8px 0 0 ;
                  }
               &:nth-child(3)::before{
               content:url(../img/subsection/icons/􀌟.png);
               margin: 0 8px 0 0 ;
                  }
                  &:nth-child(4)::before{
                  content:url(../img/subsection/icons/􀉪.png);
                  margin: 0 8px 0 0 ;
                  }
                  &:nth-child(5)::before{
                     content:url(../img/subsection/icons/􀋒.png);
                     margin: 0 8px 0 0 ;
                     }
                  }
                  .navi__link{
                     @include text(11px,12px ,#FAFAFC);
                     &:hover{
                        @extend %link-navi_hover;
                        }
                  }

               //----------------адаптив navi--------------------//

               @media (max-width:1280px){
                  .navi__body{
                     padding: 512px 0 0 440px;
                  }
               }
               @media (max-width:960px){
                  .navi__body{
                     padding: 512px 0 0 30px;
                  }
               }
               @media (max-width:720px){
                  .navi__body{
                     padding: 475px 0 0 0;
                  }
                  .navi__list{
                     flex-wrap: wrap;
                  }
                  .navi__item{
                     margin: 0 18px 18px 0 ;
                  }
                  .navi__item:nth-child(5){
                     margin: 0 8px 0 0 ;
                     }    
               }
               @media (max-width:480px){
                  .navi__body{
                     padding: 400px 0 0 0;
                  }
                  .navi__item{
                     margin: 0 18px 18px 0 ;
                  }
                  .navi__item:nth-child(4){
                     margin: 0 18px 0 0 ;
                     }    
               }

               //----------------subsection--------------------//

               .subsection{
                  text-align: center;
                  background: #375C58;
               }
            .subsection__text-block{
                  max-width: 480px;
                  margin: 0 auto;
                  padding: 99px 0 111px 0 ;
                  text-align: center;
               }
               .subsection__p{
                  @include text(14px,20px ,#FAFAFC);
                     text-transform: uppercase;
                     letter-spacing: 2px;
               }
               .subsection__title{
                  @include text(36px,43px ,#E6B939);   
                     font-family: 'Roboto';
               }
               .subsection__text{
                  @include text(16px,19px ,#FAFAFC);
                     margin: 7px 0 21px 0 ;
               }
               .subsection__link{
                  @include text(15px,22px ,#575445);
                     background: #FFFFFF;
                     border-radius: 6px;
                     padding: 11px 18.5px;
                  &:hover{
                     transition-duration: 0.5s;
                     text-decoration: underline;
                     background:  #E6B939;
                  }
               }

                              //----------------pages--------------------//
                              
                              .pages{
                                 margin: 100px 0 0 0;
                              }  
                              .pages__block-first{
                                 display: flex;
                                 flex-direction: column;
                              }
                              .block-first__block-text{
                                 max-width: 480px;
                                 padding: 0 0 0 16px;
                              }
                              .image-block{
                                 display: flex;
                                 flex-wrap: wrap;
                                 justify-content: space-between;
                                 margin: 21px 16px;
                              }
                              .image-block__text{
                                 margin: 18px 0 12px 0;
                              }
                              .image-block__contact{
                                 display: flex;
                                 justify-content: space-between;
                                 align-items: center;
                              }
                                 .image-block__folio{
                                 display: flex;
                                 align-items: center;
                              }
                              .image-block__name{
                                 margin: 0 0 0 12px;
                              }
                              .pages__block-second{
                                 max-width: 1168px;
                                 display: flex;
                                 flex-wrap: wrap-reverse;
                              }
                              .pages__block-text{
                                 align-self: center;
                                 max-width: 384px;
                                 margin: 0 0 0 104px;
                              }
                              .pages__link-show{
                                 display: flex;
                                 justify-content: center;
                                 @include text(15px,21px,#575445);
                                 margin: 42px 0 20px 0 ;
                              &::after{
                                 content:url(../img/cat/icons/Path-2.png);
                                 margin: 0 0 0 8px;
                                 }
                                 &:hover{
                                    @extend%link_hover;
                              }
                              }

                              //----------------aдаптив pages--------------------// 

                              @media (max-width:1280px){
                                 .pages__block-second{
                                    justify-content: center;
                                 }
                                 .pages__block-text{
                                    margin: 0;
                                 }
                                 .block-first__block-text{
                                    align-self: center;
                                 }
                                 .image-block{
                                    justify-content: center;
                                 }
                                 .image-block__first{
                                    margin: 0 0 32px 0;
                                 }
                              }
                              @media (max-width:1024px){
                                 .pages__block-second{
                                 margin: 40px 0 0 0;
                                 }
                              }
                              @media (max-width:590px){
                                 .pages__block-first{
                                    display: none;
                                 }
                              }

                              //----------------footer--------------------//

                              .footer{
                                 background: #575445;
                                 text-align: center;
                              }
                              .footer__body{
                                 max-width: 1168px;
                                 display: flex;
                                 flex-direction: column;
                              }
                              .footer__content{
                                 display: flex;
                                 margin: 75px 0 0 0;
                                 text-align: left;
                              }
                              .footer__logo{
                                 margin: 100px 0 0 0 ;
                              }
                              .content__list{
                                 margin: 0 132px 0 0 ;
                                 &:nth-child(2){
                                    margin: 0 76px 0 0 ;
                                 }
                                 &:nth-child(3){
                                    margin: 0 92px 0 0 ;
                                 }
                              }
                              .content__item{
                                 margin: 0 0 9px 0;
                                 &:nth-child(1){
                                    text-transform: uppercase;
                                    }
                              }
                              .content__link{
                                 @include text(14px,20px ,#FFFFFF);
                                 &:hover{
                                 @extend %link-navi_hover;
                              }
                              }
                              .content__button{
                                 max-width: 458px;
                              }
                              .button__title{
                                 @include text(14px,20px ,#E6B939);     
                                 text-transform: uppercase;                    
                              }
                              .button__text{
                                 @include text(14px,20px ,#FFFFFF);
                                 margin: 0 0 9px 0;
                              }
                              .button__mail{
                                 background: #F9FAFB;
                                 border: 1px solid #E5E7EB;
                                 box-sizing: border-box;
                                 border-radius: 8px;
                                 max-width: 218px;
                              }
                              .button__input{
                                 padding: 10px;
                                 background: #F9FAFB;
                                 color: #575445;
                              }
                              .button__submit{
                                 background: #575445;
                                 border-radius: 10px;
                                 color: white;
                                 padding: 10px;
                                 margin: 7px;
                                 &:hover{
                                    @extend %link-navi_hover;
                                 }
                              }
                              .content__info{
                                 display: flex;
                                 justify-content: space-between;
                                 max-width: 1078px;
                                 margin: 30px 0 100px 0;
                              }
                              .info__text{
                                 @include text(14px,20px , white);      
                              }
                              .info__icon{
                                 display: grid;
                                 grid-template-columns: auto auto auto auto;
                                 gap: 7px;

                              }

                            //----------------адаптив footer--------------------//

                           @media (max-width:1024px){
                              .footer__content{
                                 flex-wrap: wrap;
                                 justify-content: center;
                              }
                              .content__button{
                                 margin: 20px 0 0 0 ;
                              }
                           }
                           @media (max-width:720px){
                              .content__list{
                                 display: none;
                              }
                              .info__icon{
                                 display: none;
                              }
                           }
                           