@charset "UTF-8";
@import 'nullstyle.scss';
.menu__button-cart, .menu__button-buy {
  background: #575445;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22.4px;
  color: #FFFFFF;
  padding: 11px 18.5px;
}

.sidebar__image-icon {
  background: #575445;
  border-radius: 32px;
  margin: 0 0 10px 0;
  padding: 18px;
}

.pages__link-show:hover, .cat__link-show:hover, .cat__link-view:hover, .link__more:hover {
  font-weight: 800;
  font-size: 16px;
  text-decoration: underline;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button__submit:hover, .content__link:hover, .navi__link:hover, .menu__button-cart:hover, .menu__button-buy:hover, .menu__link:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: underline;
  color: #E6B939;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin: 0 28px 0 0;
}
.menu__item:nth-child(4) {
  margin: 0 34px 0 0;
}
.menu__item:nth-child(5) {
  margin: 0 40px 0 0;
}
.menu__item:nth-child(6) {
  margin: 0 20px 0 0;
}
.menu__item:nth-child(7) {
  margin: 0;
}

.menu__link {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.menu__button-cart::before {
  content: url(../img/header/icons/Vector.png);
  margin: 0 8px 0 0;
}
.menu__button-cart::after {
  content: "0";
  margin: 0 0 0 8px;
  background: white;
  border-radius: 9px;
  padding: 3.5px 7px;
  font-size: 11px;
  line-height: 18px;
  color: #444444;
}

@media (max-width: 1280px) {
  [class*=container] {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  [class*=container] {
    max-width: 960px;
  }
}
@media (max-width: 960px) {
  [class*=container] {
    max-width: 720px;
  }

  .menu__item:nth-child(5) {
    margin: 0 16px 0 0;
  }

  .menu__item:nth-child(6) {
    padding: 30px 0 0 0;
  }

  .menu__item:nth-child(7) {
    padding: 30px 0 0 0;
  }

  .menu__list {
    margin: 45px 0 0 50px;
  }
}
@media (max-width: 720px) {
  [class*=container] {
    max-width: 480px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 30px 0 0 0;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__item:nth-child(4) {
    padding: 30px 0 0 0;
  }

  .menu__item:nth-child(5) {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 400px) {
  [class*=container] {
    max-width: 320px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 90px;
  }

  .menu__item {
    padding: 30px 0 0 0;
  }
}
.page {
  min-height: 640px;
}

.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  z-index: 2;
  padding: 219px 0 0 0;
  max-width: 600px;
}

.main-block__p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #E6B939;
}

.main-block__title {
  max-width: 416px;
  font-style: "Roboto";
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.main-block__text {
  font-size: 17px;
  line-height: 25px;
  color: #CACCD1;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 1280px) {
  .main-block__image {
    left: -120px;
  }
}
@media (max-width: 1024px) {
  .main-block__image {
    left: -300px;
  }
}
@media (max-width: 960px) {
  .main-block {
    margin: 30px 0 0 0;
  }

  .main-block__image {
    left: -450px;
  }
}
@media (max-width: 720px) {
  .main-block__image {
    left: -600px;
    opacity: 0.6;
  }

  .main-block__p {
    color: #575445;
    font-weight: 900;
    padding: 0 0 40px 0;
  }

  .main-block__title {
    color: #575445;
    padding: 0 0 40px 0;
  }

  .main-block__text {
    color: #575445;
  }

  .main-block__body {
    padding: 120px 0 0 0;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .main-block__image {
    left: -850px;
  }

  .main-block__body {
    text-align: center;
  }
}
.section__content {
  max-width: 1168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}

.section__block-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 384px;
  margin: 0 0 0 104px;
}

.block-text__p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #E6B939;
}

.block-text__title {
  font-style: "Roboto";
  font-size: 36px;
  line-height: 43px;
  color: #575445;
}

.block-text__text {
  font-size: 16px;
  line-height: 19px;
  color: #575445;
}

.block-text__link {
  margin: 20px 0 0 0;
}

.link__more {
  font-size: 15px;
  line-height: 21px;
  color: #575445;
}
.link__more::after {
  content: url(../img/section/icon/Path-2.png);
  margin: 0 0 0 7px;
}
@media (max-width: 960px) {
  .section__content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .section__block-text {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 720px) {
  .section__image {
    margin: 0 0 0 -72px;
  }
}
.sidebar {
  min-height: 900px;
  background: #FAFAFC;
}

.sidebar__content {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__block-text {
  max-width: 538px;
  text-align: center;
  margin: 99px 0 71px 0;
}

.sidebar__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__column-item {
  max-width: 287px;
  margin: 0 104px 110px 0;
  text-align: center;
}
.sidebar__column-item:nth-child(3) {
  margin: 0 0 110px 0;
}
.sidebar__column-item:nth-child(6) {
  margin: 0 0 110px 0;
}

.sidebar__title {
  margin: 0 0 9px 0;
  font-size: 20px;
  line-height: 24px;
  color: #575445;
}

.sidebar__text {
  font-size: 14px;
  line-height: 20px;
  color: #575445;
  font-family: "Poppins";
}

@media (max-width: 1280px) {
  .sidebar__column-item {
    margin: 0 0 110px 0;
  }

  .sidebar__column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 720px) {
  .sidebar__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.cat {
  margin: 100px 120px;
  max-height: 100%;
}

.cat__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat__block-text {
  max-width: 538px;
  text-align: center;
  margin: 0 0 21px 0;
}

.cat__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 21px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat__cards-item {
  margin: 8px;
  min-width: 369px;
  min-height: 473px;
  text-align: center;
}
.cat__cards-item:nth-child(1) {
  background-image: url(../img/cat/image/IMAGE.jpg);
  background: cover, no-repeat;
}
.cat__cards-item:nth-child(2) {
  background-image: url(../img/cat/image/IMAGE-2.jpg);
  background: cover, no-repeat;
}
.cat__cards-item:nth-child(3) {
  background-image: url(../img/cat/image/IMAGE-3.jpg);
  background: cover, no-repeat;
}
.cat__cards-item:nth-child(4) {
  background-image: url(../img/cat/image/IMAGE-4.jpg);
  background: cover, no-repeat;
}
.cat__cards-item:nth-child(5) {
  background-image: url(../img/cat/image/IMAGE-5.jpg);
  background: cover, no-repeat;
}
.cat__cards-item.cat__cards-item:nth-child(6) {
  background-image: url(../img/cat/image/IMAGE-6.jpg);
  background: cover, no-repeat;
}

.cat__title {
  font-size: 28px;
  line-height: 34px;
  color: #575445;
  font-family: "Roboto";
  margin: 39px 0 9px 0;
}

.cat__text {
  font-size: 16px;
  line-height: 23px;
  color: #575445;
  margin: 0 0 20px 0;
}

.cat__link-view {
  font-size: 15px;
  line-height: 21px;
  color: #575445;
}
.cat__link-view::after {
  content: url(../img/cat/icons/Path-2.png);
  margin: 0 0 0 8px;
}
.cat__link-show {
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  margin: 0 0 20px 0;
}
.cat__link-show::after {
  content: url(../img/cat/icons/Path-2.png);
  margin: 0 0 0 8px;
}
@media (max-width: 400px) {
  .cat__block-text {
    display: none;
  }
}
.navi {
  min-height: 600px;
}

.navi__block {
  position: relative;
}

.navi__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.navi__body {
  position: relative;
  z-index: 4;
  padding: 512px 0 0 640px;
}

.navi__list {
  max-width: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #292C32;
  border-radius: 16px;
  padding: 15px 0 21px 0;
}

.navi__item:nth-child(1)::before {
  content: url(../img/subsection/icons/􀋒.png);
  margin: 0 8px 0 0;
}
.navi__item:nth-child(2)::before {
  content: url(../img/subsection/icons/􀍪.png);
  margin: 0 8px 0 0;
}
.navi__item:nth-child(3)::before {
  content: url(../img/subsection/icons/􀌟.png);
  margin: 0 8px 0 0;
}
.navi__item:nth-child(4)::before {
  content: url(../img/subsection/icons/􀉪.png);
  margin: 0 8px 0 0;
}
.navi__item:nth-child(5)::before {
  content: url(../img/subsection/icons/􀋒.png);
  margin: 0 8px 0 0;
}

.navi__link {
  font-size: 11px;
  line-height: 12px;
  color: #FAFAFC;
}
@media (max-width: 1280px) {
  .navi__body {
    padding: 512px 0 0 440px;
  }
}
@media (max-width: 960px) {
  .navi__body {
    padding: 512px 0 0 30px;
  }
}
@media (max-width: 720px) {
  .navi__body {
    padding: 475px 0 0 0;
  }

  .navi__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .navi__item {
    margin: 0 18px 18px 0;
  }

  .navi__item:nth-child(5) {
    margin: 0 8px 0 0;
  }
}
@media (max-width: 480px) {
  .navi__body {
    padding: 400px 0 0 0;
  }

  .navi__item {
    margin: 0 18px 18px 0;
  }

  .navi__item:nth-child(4) {
    margin: 0 18px 0 0;
  }
}
.subsection {
  text-align: center;
  background: #375C58;
}

.subsection__text-block {
  max-width: 480px;
  margin: 0 auto;
  padding: 99px 0 111px 0;
  text-align: center;
}

.subsection__p {
  font-size: 14px;
  line-height: 20px;
  color: #FAFAFC;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subsection__title {
  font-size: 36px;
  line-height: 43px;
  color: #E6B939;
  font-family: "Roboto";
}

.subsection__text {
  font-size: 16px;
  line-height: 19px;
  color: #FAFAFC;
  margin: 7px 0 21px 0;
}

.subsection__link {
  font-size: 15px;
  line-height: 22px;
  color: #575445;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 11px 18.5px;
}
.subsection__link:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: underline;
  background: #E6B939;
}

.pages {
  margin: 100px 0 0 0;
}

.pages__block-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-first__block-text {
  max-width: 480px;
  padding: 0 0 0 16px;
}

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 21px 16px;
}

.image-block__text {
  margin: 18px 0 12px 0;
}

.image-block__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-block__folio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-block__name {
  margin: 0 0 0 12px;
}

.pages__block-second {
  max-width: 1168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.pages__block-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 384px;
  margin: 0 0 0 104px;
}

.pages__link-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  margin: 42px 0 20px 0;
}
.pages__link-show::after {
  content: url(../img/cat/icons/Path-2.png);
  margin: 0 0 0 8px;
}
@media (max-width: 1280px) {
  .pages__block-second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pages__block-text {
    margin: 0;
  }

  .block-first__block-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .image-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .image-block__first {
    margin: 0 0 32px 0;
  }
}
@media (max-width: 1024px) {
  .pages__block-second {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 590px) {
  .pages__block-first {
    display: none;
  }
}
.footer {
  background: #575445;
  text-align: center;
}

.footer__body {
  max-width: 1168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px 0 0 0;
  text-align: left;
}

.footer__logo {
  margin: 100px 0 0 0;
}

.content__list {
  margin: 0 132px 0 0;
}
.content__list:nth-child(2) {
  margin: 0 76px 0 0;
}
.content__list:nth-child(3) {
  margin: 0 92px 0 0;
}

.content__item {
  margin: 0 0 9px 0;
}
.content__item:nth-child(1) {
  text-transform: uppercase;
}

.content__link {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.content__button {
  max-width: 458px;
}

.button__title {
  font-size: 14px;
  line-height: 20px;
  color: #E6B939;
  text-transform: uppercase;
}

.button__text {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 0 9px 0;
}

.button__mail {
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  max-width: 218px;
}

.button__input {
  padding: 10px;
  background: #F9FAFB;
  color: #575445;
}

.button__submit {
  background: #575445;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 7px;
}
.content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1078px;
  margin: 30px 0 100px 0;
}

.info__text {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.info__icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 7px auto 7px auto 7px auto;
  grid-template-columns: auto auto auto auto;
  gap: 7px;
}

@media (max-width: 1024px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content__button {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 720px) {
  .content__list {
    display: none;
  }

  .info__icon {
    display: none;
  }
}
